.about {
	padding: 57px 0 98px;
	text-align: center;
	background-color: var(--color-background);
}

.about__content {
	max-width: 780px;
}

.about__title {
	margin: 0 0 42px 0;
}

.about__subtitle {
	margin: 0 0 11px 0;
}

.about__text {
	text-align: justify;
	margin: 0 0 15px 0;
}
