.hero {
  padding: 47px 0 70px 0;
  text-align: center;
  color: var(--color-primary);
}

.hero__title {
  margin: 0 0 22px 0;
}

.hero__subtitle {
  margin: 0 0 35px 0;
}

.hero__img {
  width: 100%;
  height: 535px;
  object-fit: cover;
}

@media (max-width: 480px) {
  .hero {
    padding: 66px 0 78px 0;
    text-align: left;
  }

  .hero__title {
    max-width: 240px;
    margin: 0 0 24px 0;
  }

  .hero__subtitle {
    margin: 0 0 28px 0;
  }
}

@media (max-width: 370px) {
  .hero__subtitle {
    max-width: 305px;
  }
}
