.menu {
  color: var(--color-text);
  font-weight: 700;
}

.menu::after {
  content: "";
  display: block;
  right: 0;
  left: 0;
  height: 1px;
  background-color: var(--color-text);
  margin: 32px 0 0 0;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.menu__link::after {
  content: "";
  position: absolute;
  right: 100%;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: var(--color-primary);
}

.menu__link:hover::after {
  right: 0;
}
