.portfolio {
	padding: 79px 0 107px;
	background-color: var(--color-background);
	text-align: center;
}

.portfolio__title {
	margin: 0 0 76px 0;
}

.portfolio__list {
	display: flex;
	flex-direction: column;
	gap: 95px;
}

@media (max-width: 480px) {
	.portfolio {
		padding: 41px 0 50px;
	}

	.portfolio__title {
		margin: 0 0 50px 0;
	}

	.portfolio__list {
		gap: 50px;
	}
}
