html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: unset;
}

ul {
	list-style: none;
}

.container {
	margin: 0 auto;
	max-width: 970px;
	padding: 0 10px;
}

.divider {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #000;
	margin: 0 0 15px 0;
	max-width: 420px;
}

@media (max-width: 480px) {
	.container {
		padding: 0 30px;
	}

	.divider {
		max-width: 300px;
	}
}
