:root {
  --color-black: #070707;
  --color-gray: #828282;
  --color-light-gray: #f6f6f6;

  --color-text: var(--color-black);
  --color-primary: var(--color-gray);
  --color-background: var(--color-light-gray);
}
